@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: green;
  --color-secondary: #d9f7be;
  --color-base: #d9f7be; 
}


@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #22c55e; /* green-500 */
  --color-secondary: #1a1a1a;
  --color-base-100: #0f172a; /* dark navy background */
  --color-base-200: #1e293b; /* slightly lighter for cards */
  --color-base-300: #334155;
  --color-neutral: #f8fafc; /* text color */
}

* {
  font-family: "Roboto Mono";
}

/* From Uiverse.io by Madflows */
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: hwb(112 4% 56%);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(132, 204, 22, 1) 10.8%,
    rgba(22, 101, 52, 1) 94.3%
  );
  transition: all 0.475s;
  z-index: 0;
}
